<div class="container">
<div class="row">
<div class="col-12">
<ol>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dolore.</li>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptate magni dolor?</li>
<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, veniam! Iure error dicta blanditiis fugiat.</li>
<li>Lorem ipsum dolor sit amet.</li>
</ol>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores minus fuga pariatur incidunt illum, neque aperiam! Deserunt expedita dolore sint.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
<hr>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
</div>
</div>
</div>
