<p>shopping-edit works!</p>
<div class="row">
<div class="col-12">
<form action="#" title="#">
<div class="row">
<div class="col-5 form-group">
<label for="name" title="#">Name:</label>
<input type="text" id="name" class="form-control" placeholder="name">

</div>
<div class="col-2 form-group">
<label for="amount" title="#">Amount</label>
<input type="text" id="amount" class="form-control" placeholder="amount">

</div>
</div>
<div class="row">
<div class="col-12">
<button class="btn btn-success" type="submit">Add</button>
<button class="btn btn-danger" type="button">Delete</button>
<button class="btn btn-warning" type="button">Clear</button>
</div>
</div>
</form>
</div>
</div>
