<button type="button" pButton label="PrimeNG" title="#"></button>
<button pButton type="button" class="p-button-info" title="#" label="Vladan"></button>
<button pButton type="button" label="Primary" title="#"></button>
<button pButton type="button" label="Secondary" class="p-button-secondary" title="#"></button>
<button pButton type="button" label="Success" title="#" class="p-button-success"></button>
<button pButton type="button" label="Info" title="#" class="p-button-info"></button>
<button pButton type="button" label="Warning"  title="#" class="p-button-warning"></button>
<button pButton type="button" label="Help" class="p-button-help" title="#"></button>
<button pButton type="button" label="Danger" class="p-button-danger" title="#"></button>
