<div class="container-fluid">
<h1>Registration Form</h1>
<form>
<div class="form-group">
<label for="username">Username</label>
<input type="text" id="username" class="form-control">
</div>
<hr>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" id="password" class="form-control">
  </div>
<hr>
<div class="form-group">
  <label for="conpassword">Confirm Password</label>
  <input type="password" id="conpassword" class="form-control">
  </div>
<hr>
<button class="btn btn-primary" type="submit">Register</button>
</form>
</div>
