<div class="container">
<h1>Registration Form</h1>
<form [formGroup]="registrationForm">
<div class="form-group">
<label for="username">Username</label>
<input
type="text"
 id="username"
formControlName="username"
  class="form-control"
  >
</div>
<hr>
<div class="form-group" >
  <label for="password">Password</label>
  <input
  type="password"
   id="password"
formControlName="password"
    class="form-control"
    >
  </div>
<hr>
<div class="form-group">
  <label for="conpassword">Confirm Password</label>
  <input
  type="password"
  id="conpassword"
formControlName="conpassword"
  class="form-control"
  >
  </div>
<hr>
<div formGroupName="addressForm">
  <div class="form-group">
    <label for="state">State</label>
    <input
    type="text"
    id="state"
  formControlName="state"
    class="form-control"
    >
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input
      type="text"
      id="city"
    formControlName="city"
      class="form-control"
      >
      </div>
      <hr>
      <div class="form-group">
        <label for="postcode">Postal code</label>
        <input
        type="text"
        id="postcode"
      formControlName="postcode"
        class="form-control"
        >
        </div>
</div>



<hr>
<!-- <div class="form-group">
  <label for="email">Email</label>
  <input
  type="email"
  id="email"
formControlName="email"
  class="form-control"
  >
  </div> -->

<button class="btn btn-primary" type="submit">Register</button>
<button (click)="onLoadApi()" class="btn btn-warning" type="button">Load API Data</button>
</form>
{{registrationForm.value | json}}
<!-- {{addressForm.value |json}} -->
</div>
